{% extends 'base.html.twig' %}

{% block title %}Liste des sous-catégories de la catégorie {{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des catégories de {{ category.name }}</h1>
            </div>
            {% for subcategory in subcategories %}
                <div class="col-3 mb-3">
                    <article class="card h-100">
                    <img src="{{ asset('assets/images/defaultCard.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">{{ subcategory.name }}</h2>
                            {# <p class="card-text">{{ product.description }}</p> #}
                            <a href="{{ path('categories_sublist', {'parentSlug': category.slug ,'slug' : subcategory.slug})}}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
