{% extends 'base.html.twig' %}

{% block title %}Administration Categories{% endblock %}

{% block body %}
  <main class="container mx-3">
    <section class="row justify-content-center">
      <div class="col-12 text-center">
       <h1>Gestion des categories</h1>
      </div>
      {# {% for message in app.flashes("success") %} #}
        {# 
        <div class="alert alert-success">
          {{message}}
        </div>  
      {% endfor %} #}
      <a href="#" class="btn btn-success">Ajouter</a>
      <table class="table">
        <tr class="table-primary">
          <td>Nom</td>
          <td>Categorie Parent</td>
          <td>Url</td>
          <td>Position</td>
        </tr>
        {% for category in categories %}
          <tr>
            {# <td style="width:10%">
              <img src="{{asset('images/aliments/legumes/'~ aliment.image)}}" alt="">
            </td> #}
            <td><strong>{{category.name}}</strong></td>
            <td><strong>{{category.parent}}</strong></td>
            <td>{{ category.slug}}</td>
            <td>{{ category.categoryOrder}}</td>
            <td>
              <a href="#">Modifier</a>
              {# <form style="display:inline-block;" action="{{ path('admin_aliments_suppression', {'id': aliment.id })}}" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="_token" value="{{csrf_token('SUP'~ aliment.id)}}">
                  <input type="submit" class="btn btn-danger" value="Supprimer" onsubmit="return confirm(confirmez la suppression ?)">
              </form> #}
            </td>
          </tr>
        {% endfor %}
      </table>
    </section>
  </main>
{% endblock %}
